---
layout: default
title: projects
---
<h1 class="page-title separator">Project list</h1>

<ul class="content-overview">
  {% for item in site.data.projects %}
    <li class="separator">
      <h2 class="project-name">
        {{ item.name }}
        <i class="{{ item.lang-icon }} tooltip"><span class="tooltiptext">{{ item.lang }}</span></i>
      </h2>
      <div class="project-description"> {{ item.description }} </div>
        <a class="project-link" href="{{ item.repository }}">View on GitHub &raquo;</a>
        {% if item.demo-link %}
          <a class="project-link" href="{{ item.demo-link }}">Demo &raquo;</a>
        {% endif %}
    </li>
  {% endfor %}
</ul>