---
layout: default
title: projects
---
<h1 class="page-title separator">Project list</h1>

<ul class="content-overview">
  {% for item in site.data.projects %}
    <li class="separator">
      <h2 class="project-name">{{ item.name }}</h2>
      <div class="project-content">
        <div class="project-meta"><i class="fas fa-code"></i>{{ item.lang }}</div>
        <div class="project-desc"> {{ item.desc }} </div>
        <div>
          <a class="project-link" href="{{ item.rep }}">View on GitHub &raquo;</a>
          {% if item.link %}
            <a class="project-link" href="{{ item.link }}">Demo &raquo;</a>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>