---
layout: default
title: projects
styles: [projects]
---
<h1 class="page-title">Projects</h1>

<ul class="project-list">
  {% for project in site.data.projects %}
    <li class="project-entry">
      <h2 class="project-title">{{ project.name }}</h2>
      <div class="project-content">
        <ul class="project-tags">
          {% for tag in project.tags %}
            <li>{{tag}}</li>
          {% endfor %}
        </ul>
        <div class="project-description">{{ project.description }}</div>
        <a class="fancy-link" href="{{ project.repository }}">View on GitHub</a>
        {% if project.demo-link %}
          <a class="fancy-link" href="{{ project.demo-link }}">Demo</a>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>