
$font-family: "Lucida Console";

$container-width: 40%;

$separator-padding: 1em;

$navbar-height: 64px;
$navbar-margin: (100% - $container-width) / 2;

$footer-height: 4em;

$color-font: #eeeeee;
$color-font2: #bbbbbb;
$color-highlight: #999999;

$color-background: #242424;

/* GENERAL STYLE */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: $font-family;
    color: $color-font;
    background: $color-background;
}

a {
    text-decoration: none;
    color: $color-font2;

    &:hover {
        color: $color-highlight;
    }
}

.separator {
    padding-bottom: $separator-padding;
    border-bottom: 1px solid $color-highlight;
}

.container {
    width: $container-width;
    margin-left: auto;
    margin-right: auto;
}

/* */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* NAVBAR */
.navbar {
    height: $navbar-height;
    width: 100%;

    * {
        margin: 0;
        padding: 0;
        line-height: $navbar-height;
        list-style: none;
        text-decoration: none;
    }

    .logo {
        margin-left: $navbar-margin;
        font-size: 2em;
        font-weight: bold;

        a {
            color: $color-font;

            &::before {
                display: inline-block;
                transition: transform .5s ease;
                content: '{';
            }

            &::after {
                display: inline-block;
                transition: transform .5s ease;
                content: '}';
            }

            &:hover {
                transition: transform .5s ease;

                &::before { transform: translateX(-.2em); }
                &::after { transform: translateX(.2em); }
            }
        }
    }

    .menu {
        float: right;
        margin-right: $navbar-margin;
        height: $navbar-height;

        li {
            display: inline-block;
            padding-left: .6em;
            height: inherit;

            a {
                color: $color-font;
                font-size: 1.4em;
                padding-bottom: .2em;
                text-transform: lowercase;

                &:hover {
                    color: $color-font2;
                    transition: .5s;
                }

                &.active {
                    color: $color-font2;
                    border-bottom: 1px solid $color-font2;
                }
            }
        }
    }

    .menu-btn {
        font-size: 2em;
        float: right;
        margin-right: $navbar-margin;
        cursor: pointer;
        display: none;

        &:hover {
            color: $color-font2;
            transition: .5s;
        }
    }

    #menu-check {
        display: none;
    }
}

/* CONTENT */
.page-content {
    font-size: 1.1em;
    text-align: justify;

    padding: 2rem 0rem;
    line-height: 1.4em;
}

.page-title {
    margin-bottom: 1.4em;
    text-align: left;
}

.blog {
    list-style: none;

    * {
        margin: 0px;
        padding: 0px;
    }

    & > li {
        margin: 1rem;
        padding: 2rem;
    }
}

/* POST */
.post-summary {
    margin: 0.6em 0em;
}

.post-title {
    margin-bottom: 0.3em;

    a {
        color: $color-font;
    }
}

/* POST */
.post-meta {
    font-size: .85em;
    padding-left: 0.1em;

    li {
        display: inline;
        margin-right: 0.6em;
        color: $color-font2;

        i {
            padding-right: 0.4em;
        }
    }
}

/* COMMENTS */
.comments {
    border: 1px solid $color-highlight;
    border-radius: 3px;
    color: $color-font2;

    i {
        font-size: 4em;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 0.5em 0em;
    }

    p {
        text-align: center;
        font-size: 2em;
        margin-bottom: 1em;
    }
}

/* FOOTER */
.page-footer {
    height: $footer-height;
    margin-top: 2rem;
    text-align: center;

    ul {
        border-top: 1px solid $color-font2;
        line-height: $footer-height;
        list-style: none;
        padding: 0px;
        margin: 0px;

        li {
            display: inline;
            color: $color-font2;

            * {
                vertical-align: middle;
            }

            i {
                font-size: 1.4em;
                padding-right: 0.4em;
            }

            a:hover {
                transition: .5s;
            }

            &:not(:last-child)::after {
                content: "|";
                margin: 1.25em;
            }
        }
    }
}