
$font-family: "Lucida Console";

$navbar-height: 64px;
$footer-height: 4em;

$container-width: 800px;
$container-padding: 32px;

$color-font: #eeeeee;
$color-font2: #bbbbbb;
$color-highlight: #999999;

$color-background: #242424;

/* GENERAL STYLE */

body {
    padding: 0;
    margin: 0;
    font-family: $font-family;
    color: $color-font;
    background: $color-background;
}

a {
    text-decoration: none;
    color: $color-font2;

    &:hover {
        color: $color-highlight;
    }
}

.separator {
    padding-bottom: 1em;
    border-bottom: 1px solid $color-highlight;
}

.container {
    max-width: $container-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: $container-padding;
    padding-left: $container-padding;
}

/* NAVBAR */
.navbar {  
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: end;
    
    * {
        margin: 0;
        padding: 0;
        line-height: $navbar-height;
        list-style: none;
        text-decoration: none;
    }

    .logo {
        font-size: 2em;
        font-weight: bold;

        color: $color-font;

        &::before {
            display: inline-block;
            transition: transform .5s ease;
            content: '{';
        }

        &::after {
            display: inline-block;
            transition: transform .5s ease;
            content: '}';
        }

        &:hover {
            transition: transform .5s ease;

            &::before { transform: translateX(-.2em); }
            &::after { transform: translateX(.2em); }
        }
    }

    .menu {
        li {
            display: inline-block;
            padding-left: .6em;

            a {
                color: $color-font;
                font-size: 1.4em;
                padding-bottom: .2em;
                text-transform: lowercase;

                &:hover, &.active {
                    border-bottom: 2px solid $color-font2;
                    color: $color-font2;
                    transition: transform .5s ease;
                }
            }
        }
    }
}

/* CONTENT */
.page-title {
    margin-bottom: 1.4em;
    text-align: left;
}

.page-content {
    font-size: 1.1em;
    text-align: justify;

    padding-top: 2rem;
    padding-bottom: 1.2rem;
    line-height: 1.4em;

    figure.highlight > pre {
        overflow-x: auto;
        padding: 0 1.2em;
    }
}

.blog-overview {
    list-style: none;

    * {
        margin: 0px;
        padding: 0px;
    }

    & > li {
        margin: 1rem;
        padding: 2rem;
    }
}

/* POST */
.post-summary {
    margin: 0.6em 0em;
}

.post-title {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    line-height: 1.2em;

    a {
        color: $color-font;
    }
}

.post-meta {
    font-size: .85em;
    padding-left: 0.1em;

    li {
        display: inline;
        margin-right: 0.6em;
        color: $color-font2;

        i {
            padding-right: 0.4em;
        }
    }
}

.post-content {
    font-size: .85em;
    margin-top: 1.4em;
    border-top: 1px solid $color-highlight;

    h2 {
        border-top: 1px solid $color-highlight;
        padding-top: 1.2em;
    }

    blockquote {
        border-left: .6em solid #888888;
        background: #404040;
        padding: .4em 1.2em;
    }
}

.highlight {
    .lineno {
        color: #888888;
        padding-right: .6em;
        margin-right: .8em;
        border-right: 1px solid #888888;
    }
}

/* COMMENTS */
.comments {
    border: 1px solid $color-highlight;
    border-radius: 3px;
    color: $color-font2;

    i {
        font-size: 4em;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 0.5em 0em;
    }

    p {
        text-align: center;
        font-size: 2em;
        margin-bottom: 1em;
    }
}

/* FOOTER */
.page-footer {
    height: $footer-height;
    margin-top: 2rem;
    text-align: center;

    ul {
        border-top: 1px solid $color-font2;
        line-height: $footer-height;
        list-style: none;
        padding: 0px;
        margin: 0px;

        li {
            display: inline;
            color: $color-font2;

            * {
                vertical-align: middle;
            }

            i {
                font-size: 1.4em;
                padding-right: 0.4em;
            }

            a:hover {
                transition: .5s;
            }

            &:not(:last-child)::after {
                content: "|";
                margin: 1.25em;
            }
        }
    }
}