<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    
    <!-- Font Aweseome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css" />

    <title>
      { oliver.jakobs } 
      {% if page.url != "/" %}{{ page.title | downcase }}{% endif %}
    </title>

    {% feed_meta %}
    {% seo %}
  </head>

  <body>
    {% include navbar.html %}
    <main class="page-content container">{{ content }}</main>
    {% include footer.html %}
  </body>
</html>