<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />

    <!-- Additional Styles -->
    {% for name in page.styles %}
      <link rel="stylesheet" href="/assets/css/{{name}}.css" />
    {% endfor %}
    
    <!-- Devicon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css">

    <title>
      { oliver.jakobs } 
      {% if page.url != "/" %}{{ page.title | downcase }}{% endif %}
    </title>

    {% feed_meta %}
    {% seo %}
  </head>

  <body>
    {% include navbar.html %}
    <main class="page-content container">{{ content }}</main>
    {% include footer.html %}
  </body>
</html>